<section
    id="beneficios"
    class="mb-16"
>
    <h2 class="text-3xl font-semibold text-ColorTitle mb-8 text-center">
        Beneficios de Nuestros Servicios
    </h2>
    <ul class="list-disc list-inside text-gray-700 space-y-4">
        <li>Mejora de la movilidad y flexibilidad.</li>
        <li>Reducción del dolor muscular y articular.</li>
        <li>Recuperación más rápida de lesiones.</li>
        <li>Prevención de futuras lesiones.</li>
    </ul>
</section>
