<section
    id="inicio"
    class="mb-16 text-center md:text-left md:mb-0 bg-ColorBackground py-10"
>
    <h1 class="text-4xl font-bold text-ColorTitle mb-4">
        Kinesiología experta para moverte sin dolor.
    </h1>
    <p class="text-lg text-ColorAqua">
        Atención kinésica de calidad enfocada en tu bienestar físico. Recupera
        tu movilidad y mejora tu calidad de vida con tratamientos personalizados
        y efectivos.
    </p>
</section>
