<section
    id="inicio"
    class="mb-16 text-center md:text-left md:mb-0 bg-ColorBackground py-10"
>
    <div class="container mx-auto px-4 animate-on-scroll">
        <h1 class="text-3xl font-bold text-ColorTitle mb-4">
            Tu recuperación
            <span class="text-4xl after:block after:content-[''] text-ColorAqua"
                >nos importa</span
            >
            Kinesiología experta para moverte sin dolor.
        </h1>
        <p class="text-ColorText text-lg text-justify md:text-left font-light">
            Centro de Kinesiología especializado en rehabilitación y terapia
            física. Recupera tu movilidad y mejora tu calidad de vida con
            tratamientos personalizados y efectivos.
        </p>
        <div class="relative my-8 w-full">
            <div
                class="mx-auto h-px w-100 bg-gradient-to-r from-transparent via-ColorAqua to-transparent"
            >
            </div>
        </div>
        <div class="flex justify-center gap-x-6 md:gap-x-14">
            <div class="text-center md:text-left">
                <h3 class="text-ColorAqua font-semibold text-xl">+30.000</h3>
                <p class="font-light text-sm">Sesiones realizadas</p>
            </div>
            <div class="text-center md:text-left">
                <h3 class="text-ColorAqua font-semibold text-xl">+500</h3>
                <p class="font-light text-sm">Pacientes recuperados</p>
            </div>
            <div class="text-center md:text-left">
                <h3 class="text-ColorAqua font-semibold text-xl">+10</h3>
                <p class="font-light text-sm">Años de experiencia</p>
            </div>
        </div>
        <div class="relative my-8 w-full">
            <div
                class="mx-auto h-px w-100 bg-gradient-to-r from-transparent via-ColorAqua to-transparent"
            >
            </div>
        </div>
    </div>
</section>
