<section
    id="inicio"
    class="text-center mb-16"
>
    <h1 class="text-4xl font-bold text-ColorTitle mb-4">
        Bienvenido a KinesioVital 2.0
    </h1>
    <p class="text-lg text-ColorAqua">
        Tu salud en manos de expertos en kinesiología y fisioterapia.
    </p>
</section>
