<section
    id="nosotros"
    class="mb-16 text-center"
>
    <h2 class="text-3xl font-semibold text-gray-800 mb-4">Sobre Nosotros</h2>
    <p class="text-gray-700 leading-relaxed">
        Somos un equipo comprometido con brindar la mejor atención a nuestro
        pacientes, enfocándonos en técnicas modernas y efectivas de
        kinesiología.
    </p>
</section>
