<section
    id="nosotros"
    class="mb-16 container mx-auto px-10"
>
    <div class="md:grid md:grid-cols-2 md:gap-8 items-center">
        <!-- Contenido -->
        <div class="mb-8 md:mb-0">
            <span class="text-ColorAqua text-lg font-medium"
                >Sobre nosotros</span
            >
            <h2 class="text-4xl font-bold text-ColorTitle mt-2">
                Equipo Especializado en Tu Bienestar Físico
            </h2>
            <p class="text-gray-600 mt-4">
                Con más de una década de experiencia, nuestro equipo de
                kinesiólogos altamente capacitados se dedica a proporcionar la
                mejor atención y resultados para cada paciente. Utilizamos
                técnicas innovadoras y un enfoque personalizado para garantizar
                tu recuperación.
            </p>
        </div>

        <!-- Imagen -->
        <div class="block animate-on-scroll">
            <img
                src="/images/hero-kinesiologia.jpg"
                alt="Equipo profesional de kinesiología en acción"
                class="w-full md:w-3/4 h-auto rounded-2xl shadow-lg object-cover"
                style="aspect-ratio: 4/3;"
            />
        </div>
    </div>
</section>
